.skillsContainer{
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
    margin-top: 32px;
    padding-top: 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #d1d1d1;
}

.skillsContent{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
}

.skillsTitle{
    width: 100%;
    text-align: center;
    color: #474747;
}

.skillsAnchor{
    display: block;
    position: absolute;
    top: -60px;
    visibility: hidden;
}

